//standart classes for common use стандартные частоиспользуемые классы
@import "../includes/fonts/fonts-directives.css"

=paddingL-dynamic( $start-width, $start-width-px, $max-width, $start-element-width, $start-element-width-px, $end-element-width)
  padding-left: (calc($start-element-width-px + ($end-element-width - $start-element-width) * ((100vw - $start-width-px) / ($max-width - $start-width))))

=paddingR-dynamic( $start-width, $start-width-px, $max-width, $start-element-width, $start-element-width-px, $end-element-width)
  padding-right: (calc($start-element-width-px + ($end-element-width - $start-element-width) * ((100vw - $start-width-px) / ($max-width - $start-width))))

=gap-dynamic( $start-width, $start-width-px, $max-width, $start-element-width, $start-element-width-px, $end-element-width)
  gap: (calc($start-element-width-px + ($end-element-width - $start-element-width) * ((100vw - $start-width-px) / ($max-width - $start-width))))
=width-dynamic( $start-width, $start-width-px, $max-width, $start-element-width, $start-element-width-px, $end-element-width)
  width: (calc($start-element-width-px + ($end-element-width - $start-element-width) * ((100vw - $start-width-px) / ($max-width - $start-width))))

=font-dynamic( $start-width, $start-width-px, $max-width, $start-element-width, $start-element-width-px, $end-element-width)
  font-size: (calc($start-element-width-px + ($end-element-width - $start-element-width) * ((100vw - $start-width-px) / ($max-width - $start-width))))




//переход на мобилку - 1110

.med-13-text
  font-family: TT Norms Pro
  font-size: 13px
  font-weight: 500
  line-height: 17px
  letter-spacing: 0em
  text-align: left


.d-none
  display: none!important

.no-button-classes
  border: none
  background: none

.no-link-styles
  text-decoration: none
  color: inherit



.no-list-styles
  list-style: none
  list-style-type: none


.standart-overlay
  z-index: 0
  display: flex
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)






.med-15-text
  font-family: TT Norms Pro

.med-15-text_white
  color: white


.med-14-text
  font-family: TT Norms Pro
  font-size: 14px
  font-weight: 500
  line-height: 18px
  letter-spacing: 0em
  text-align: left

.med-16-text
  font-family: TT Norms Pro
  font-size: 16px
  font-weight: 500
  line-height: 21px
  letter-spacing: 0em
  text-align: left


.reg-15-text
  font-family: TT Norms Pro
  font-size: 15px
  font-weight: 400
  line-height: 19px
  letter-spacing: 0em
  text-align: left
  color: #222427

.reg-15-text_bottom-nav
  @media screen and (max-width: 1110px)
    +font-dynamic(1110, 1110px, 375, 22.75, 22.75px, 15)

.med-12-text
  font-family: TT Norms Pro
  font-size: 12px
  font-weight: 500
  line-height: 16px
  letter-spacing: 0em
  text-align: center
  color: #5E6062

.med-22-text-title
  font-family: TT Norms Pro
  font-size: 22px
  font-weight: 500
  line-height: 26px
  letter-spacing: 0em
  text-align: center


.med-12-text_caption
  text-align: left

.med-12-text_bottom-nav
  @media screen and (max-width: 1110px)
    +font-dynamic(1110, 1110px, 375, 18, 18px, 12)

.caps-15med-text
  display: flex
  align-self: center
  font-family: TT Norms Pro
  font-size: 15px
  font-weight: 500
  line-height: 19px
  letter-spacing: 0em
  text-align: left
  text-transform: uppercase


.base-icon
  display: flex
  width: 24px
  aspect-ratio: 1/1

.base-icon_marker
  background-image: url("../includes/images/header/map-marker-icon.svg")


.base-icon_bottom-nav
  @media screen and (max-width: 1110px)
    background-repeat: no-repeat
    background-size: cover
    +width-dynamic(1110, 1110px, 360, 36, 36px, 24)

.base-icon_search
  background-image: url("../includes/images/header/search-icon.svg")

.base-icon_menu
  background-image: url("../includes/images/header/menu-icon.svg")

.base-icon_sale
  background-image: url("../includes/images/header/icon-sale.svg")

.base-icon_catalog-green
  background-image: url("../includes/images/header/catalog-icon-green.svg")

.base-icon_profile
  background-image: url("../includes/images/header/profile-icon.svg")

.base-icon_like
  background-image: url("../includes/images/header/like-icon.svg")

.base-icon_cart
  background-image: url("../includes/images/header/cart-icon.svg")

.base-icon_compare
  background-image: url("../includes/images/header/compare-icon.svg")

.no-input-styles
  border: none

.disabled
  pointer-events: none

.main
  display: flex
  position: relative
  height: 100vh

.add-door
  height: min-content



.no-mp-border-box
  margin: 0
  padding: 0
  box-sizing: border-box

.popup-module
  display: flex
  position: fixed
  padding: 40px
  border-radius: 4px
  background-color: white
  top: 278px
  left: 40%
  width: 400px

.standart-form
  display: flex
  flex-direction: column
  width: 100%

.standart-form_popup
  gap: 20px

.standart-form__text-inputs
  display: flex
  flex-direction: column

.standart-form__text-inputs_popup
  width: 100%
  gap: 12px

.standart-form__text-input
  display: flex
  width: 100%
  height: 46px
  border: 1px solid #E4E4E7
  border-radius: 4px
  padding: 13.5px 12px

.standart-form__text-input:active
  outline-color: #8BBF1F

.standart-form__text-input:focus
  outline-color: #8BBF1F

.standart-form__acceptance-input
  display: none

.standart-form__acceptance-label
  display: flex
  width: 284px
  position: relative

.standart-form__acceptance
  display: flex
  flex-direction: row
  width: 100%
  justify-content: end

.standart-form__acceptance-label::before
  display: flex
  position: absolute
  top: 23.68%
  left: -36px
  width: 20px
  height: 20px
  box-sizing: border-box
  background-size: 24px 24px
  background-position: center
  content: ''
  border-radius: 4px
  border: 1px solid #8BBF1F
  transition: all 300ms linear

.standart-form__acceptance.checked-js-class  .standart-form__acceptance-label:hover::before
  transition: all 300ms linear
  border-color: #A9D44F
  background-image: url("../includes/images/checked-icon-hover.svg")

.standart-form__acceptance.checked-js-class  .standart-form__acceptance-label::before
  transition: all 300ms linear
  background-image: url("../includes/images/checked-icon.svg")

.standart-form__acceptance-submit
  display: flex
  flex-direction: row
  width: 100%
  height: 46px
  border-radius: 4px
  background-color: #8BBF1F
  align-items: center
  justify-content: center


.reset-link-style
  text-decoration: none
  color: inherit

.standart-body
  margin: 0
  padding: 0
  position: relative
  display: flex
  flex-direction: column
  background-color: white
  z-index: 0

.header
  display: grid
  width: 100%
  top: 0
  left: 0
  grid-template-areas: "logo search address contacts" "catalog navbar navbar icons-navbar"
  grid-template-columns: 20% 30% 30% 20%
  background-color: white
  color: #222427
  border-bottom: 1px solid #E4E4E7
  @media screen and (max-width: 1110px)
    grid-template-areas: "logo contacts"
    grid-template-columns: 38.89% 61.11%




.header__logo-block
  display: flex
  flex-direction: row
  padding-left: 50px
  padding-block: 16px
  align-items: center
  grid-area: logo
  padding-right: 24px
  justify-content: space-between
  border-bottom: 1px solid #E4E4E7
  border-right: 1px solid #E4E4E7
  @media screen and (max-width: 1919px)
    +paddingL-dynamic(1919, 1919px, 1550, 50, 50px, 10)
    +paddingR-dynamic(1919, 1919px, 1550, 24, 24px, 5)
  @media  screen and (max-width: 1549px)
    padding-left: 50px
  @media  screen and (max-width: 1110px)
    border: none
  @media screen and (max-width: 575px)
    padding-block: 12px
    padding-left: 20px



.header__logo
  width: 119px
  height: 48px
  background-image: url("../includes/images/header/logo-header.svg")
  background-size: cover
  @media screen and (max-width: 575px)
    width: 90px
    height: 36px



.header__logo-description
  font-family: TT Norms Pro
  font-size: 13px
  font-weight: 400
  line-height: 17px
  width: 159px
  letter-spacing: 0
  text-align: left
  @media screen and  (max-width: 1549px)
    display: none

.header__search:active
  outline: none
  color: #222427

.header__search:focus
  outline: none
  color: #222427

.header__search-container
  border-bottom: 1px solid #E4E4E7
  border-right: 1px solid #E4E4E7
  position: relative
  display: flex
  padding-block: 28px
  padding-left: 63px
  grid-area: search
  align-items: center
  background-image: url("../includes/images/header/search-icon.svg")
  background-position: 28px 28px
  background-size: 24px 24px
  background-repeat: no-repeat
  @media screen and (max-width: 1110px)
    display: none


.header__search-container.js-added-active
  outline: 1px solid #8BBF1F
  border: none

.header__search
  flex-direction: row
  font-family: TT Norms Pro
  font-size: 16px
  font-weight: 400
  line-height: 21px
  letter-spacing: 0em
  text-align: left

.header__search-label
  display: none

.header__search:focus ~ .header__search-close-icon
  display: flex
  position: absolute
  background: url("../includes/images/header/close-icon.svg")
  width: 24px
  height: 24px
  top: 28px
  right: 52px

.header__address
  grid-area: address
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  border-bottom: 1px solid #E4E4E7
  border-right: 1px solid #E4E4E7
  @media screen and (max-width: 1110px)
    display: none


.header__address-marker-icon
  width: 24px
  height: 24px
  background-image: url("../includes/images/header/map-marker-icon.svg")

.header__address-link
  display: flex
  flex-direction: row
  align-items: center
  gap: 12px

.header__address-text
  font-family: TT Norms Pro
  font-size: 15px
  font-weight: 400
  line-height: 19px
  letter-spacing: 0em
  text-align: left
  color: #222427


.header__search-close-icon
  display: none

.header__contacts
  grid-area: contacts
  display: flex
  flex-direction: row
  gap: 24px
  align-items: center
  justify-content: center
  border-bottom: 1px solid #E4E4E7
  @media screen and (max-width: 1600px)
    flex-direction: column
    gap: 0px
  @media screen and (max-width: 1110px)
    border: none
    align-items: end
    padding-right: 39px

.header__contacts-icon-links-list
  display: flex
  flex-direction: row
  gap: 4px
  align-items: center

.header__contacts-icon-link
  display: flex
  width: 24px
  height: 24px

.header__contacts-icon-links-list-item
  display: flex

.header__phone
  font-family: TT Norms Pro
  font-size: 16px
  font-weight: 500
  line-height: 21px
  letter-spacing: 0em
  text-align: left

.header__contacts-call-request
  font-family: TT Norms Pro
  font-size: 15px
  font-weight: 500
  line-height: 19px
  letter-spacing: 0em
  text-align: center
  color: #8BBF1F
  @media screen and (max-width: 1110px)
    display: none


.header__contacts-container
  display: flex
  flex-direction: row
  align-items: center
  gap: 8px

.header__contacts-icon-link_whatsapp
  background-image: url("../includes/images/header/whatsapp-icon.svg")

.header__contacts-icon-link_telegram
  background-image: url("../includes/images/header/telegram-icon.svg")


.header__catalog-block
  align-items: center
  display: flex
  flex-direction: row
  gap: 44px
  justify-content: start
  padding-left: 50px
  border-right: 1px solid #E4E4E7
  @media screen and (max-width: 1919px)
    +paddingL-dynamic(1919, 1919px, 1550, 50, 50px, 10)
  @media  screen and (max-width: 1549px)
    padding-left: 50px
  @media screen and (max-width: 1110px)
    display: none
  grid-area: catalog
  padding-block: 28px

.header__catalog-icon-wrapper
  display: flex
  flex-direction: row
  align-items: center
  gap: 12px

.header__navbar
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  grid-area: navbar
  border-right: 1px solid #E4E4E7
  @media screen and (max-width: 1110px)
    display: none

.header__navbar-links-list
  display: flex
  flex-direction: row
  gap: 40px
  @media screen and (max-width: 1278px)
    +gap-dynamic(1278, 1278px, 1011, 40, 40px, 0)

.header__icon-based-navbar
  display: flex
  position: relative
  flex-direction: column
  justify-content: center
  align-items: center
  grid-area: icons-navbar
  @media screen and (max-width: 1110px)
    display: none

.header__cart-block
  display: flex
  position: absolute
  flex-direction: column
  @media screen and (max-width: 1921px)
    width: 100%
  @media screen and (max-width: 1920px)
    width: 384px
  top: 80px
  right: 0
  min-height: 499px
  box-shadow: -10px 10px 15px -15px #5E6062


.form-container
  display: flex
  flex-direction: column

.form-container_popup
  width: 320px
  gap: 32px


.header__cart-items
  display: flex
  flex-direction: column
  width: 100%
  min-height: 368px

.header__cart-item
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  border-bottom: 1px solid #5E6062
  height: 92px
  gap: 12px
  width: 100%

.header__cart-item-figure
  display: flex
  flex-direction: row
  gap: 16px
  width: 260px

.header__cart-item-caption
  display: flex
  flex-direction: column
  gap: 4px

.header__cart-item-image
  display: flex
  width: 56px
  height: 60px
  object-fit: contain





.header__icon-based-navbar-list
  display: flex
  flex-direction: row
  gap: 36px
  @media screen and (max-width: 1919px)
    +gap-dynamic(1920, 1920px, 1440, 36, 36px, 21)

.header__icon-based-navbar-list-item
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  width: 44px
  height: 44px

.header__cart-item-price-block
  display: flex
  flex-direction: column
  height: 56px
  gap: 14px
  max-width: 80px

.header__cart-item-amount-block
  display: flex
  flex-direction: row
  gap: 4px


.header__cart-item-amount
  display: flex
  justify-content: center
  width: 22px
  height: 21px

.header__change-items-amount-button
  width: 16px
  height: 16px
  display: flex

.header__change-items-amount-button_add
  background-image: url("../includes/images/header/plus-icon.svg")

.header__change-items-amount-button_reduce
  background-image: url("../includes/images/header/minus-icon.svg")


.base-icon_cart-js-selector-header
  position: relative

.header__cart-total-display
  display: flex
  position: absolute
  width: 21px
  height: 16px
  border-radius: 4px
  background-color: #D2EE9A
  align-items: center
  justify-content: center
  top: -8px
  right: -8px

.header__cart-confirmation-block
  display: flex
  flex-direction: column
  gap: 20px
  border-top: 1px solid #E4E4E7
  padding: 20px 24px 24px

.header__cart-confirm
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 46px
  background-color: #8BBF1F
  color: white
  font-size: 15px
  font-weight: 500
  line-height: 19px
  letter-spacing: 0em
  text-align: center

.bottom-nav
  position: relative
  background-color: white
  display: none
  position: fixed
  bottom: 0
  width: 100%
  flex-direction: row
  justify-content: center
  @media screen and (max-width: 1110px)
    display: flex
  @media screen and (max-width: 575px)
    padding: 0 0 0 0

.bottom-nav__buttons-list
  z-index: 1
  box-shadow: 0px -4px 30px 0px #0000001A
  display: flex
  flex-direction: row
  @media screen and (max-width: 1110px)
    width: 100%
    height: 98px
    +gap-dynamic(1110, 1110px, 360, 72, 72px, 0)
    align-items: center
    justify-content: center
  @media screen and (max-width: 575px)
    height: 66.25px
    align-self: center
  @media screen and (max-width: 360px)
    height: 64px


.bottom-nav__button
  display: flex
  min-height: 42px
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 2px
  width: 72px

.bottom-nav__menu
  display: none
  transition: all 0.3s ease-in-out
  transform: translateY(-100%)
  position: absolute
  flex-direction: column
  width: 100%
  left: 0
  @media screen and (max-width: 1110px)
    height: calc(100vh - 60px - 98px)
    bottom: 98px
  @media screen and (max-width: 575px)
    bottom: 66.25px
    height: calc(100vh - 60px - 66.25px)
  @media screen and (max-width: 360px)
    bottom: 64px
    height: calc(100vh - 60px - 64px)
  background-color: black

.bottom-nav__menu_opened
  display: flex
  transform: translateY(0)

.bottom-nav__menu-icons-nav
  display: flex
  border-top: 1px solid #E4E4E7
  width: 100%
  background-color: white

.bottom-nav__menu-icons-list
  display: grid
  flex-direction: row
  width: 100%
  grid-template-columns: 1fr 1fr 1fr
  height: min-content

.bottom-nav__menu-icons-nav-list-item
  display: flex
  align-items: center
  justify-content: center
  padding-block: 18px
  border-right: 1px solid #E4E4E7

.bottom-nav__menu-icons-nav-list-item:last-of-type
  border-right: none


.bottom-nav__menu-address
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  padding-block: 18px
  background-color: white
  border-block: 1px solid #E4E4E7
  @media screen and (max-width: 360px)
    justify-content: start
    padding-left: 20px



.bottom-nav__menu-address-link
  display: flex
  flex-direction: row
  gap: 12px
  align-items: center

.bottom-nav__main-nav-panel
  background-color: white
  display: flex
  flex-grow: 1
  flex-direction: column
  align-items: center
  justify-content: center

.bottom-nav__main-nav-list
  display: flex
  height: 100%
  flex-direction: column
  padding-block: 36px
  gap: 36px
  align-items: center

.bottom-nav__main-nav-call-request
  display: flex
  align-items: center
  justify-content: center
  @media screen and (max-width: 1110px)
    width: 205px
    height: 60px

  @media screen and (max-width: 768px)
    width: 190px
    height: 55px
  @media screen and (max-width: 768px)
    width: 152px
    height: 40px
  border: 1px solid #8BBF1F
  border-radius: 2px







